################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OMInfoSuite/v15/ipch/AutoPCH/be6a710053bb904/OMINFOSUITE.ipch
/.vs/OMInfoSuite/v15/Browse.VC.opendb
/.vs/OMInfoSuite/v15/ipch/AutoPCH/977a577d2cbbfbb8/OMINFOSUITE.ipch
/git backup
